# Wrapper downloaded stuff
.polytool
.polytool-version
build/
polylocal/

# Gradle
.gradle/

# Dependencies
deps/

# Eclipse
bin/
.settings/
.classpath
.project

#VSCode
.vscode/

# IntelliJ
*.iml
*.ipr
*.iws
out/

# Run files
run/*
